<main ng-class="{contents: hiding}">
<div class="center-box4"><img class="center-box2" src="/images/portfolioLogo22.png" alt=""></div>

<section>
<div class="container">
    <div id="center-box" class="project">
      <div id="center-box3" class="mask2 mask3">
        <h2>Portfolio Logo Design 2nd Generation - Technologies Used</h2>
        <ul>
          <li>SVG Text on a Path using SMIL</li>
          <li>Spiral design using Adobe Illustrator</li>
          <li>Add CSS Keyframes to move drawing of logo name</li>
          <li>Adjusted coloring to make logo more cohesive and less loud</li>
          <li>Removed background color red to make drawing of logo name more impactful and subtle</li>
          
        </ul>
      </div>
    </div>
</div>
</section>
</main>
