<main ng-class="{contents: hiding}">
<div class="center-box4"><img class="center-box2" src="/images/portfolioLogo12.png" alt=""></div>
<section>
<div class="container">
    <div id="center-box" class="project">
      <div id="center-box3" class="mask2 mask3">
        <h2>Porfolio Logo Design First Generation - Technologies Used</h2>
        <ul>
          <li>SVG Text on a Path using SMIL</li>
          <li>Spiral design using Adobe Illustrator</li>
          <li>Adding all necessary svg componenets in order to replicate "Shannon" as a rollercoaster in the logo name. </li>
          <li>Using Inspect Element with CSS to ensure getting expected results</li>
          <li>Student of learning with SVG, coding and Web Design via the Web</li>
        </ul>
      </div>
    </div>
</div>
</section>
</main>
