<h3>Portfolio Logo 2nd Generation</h3>

<section>
<div class="container">
    <div class="project">
      <div class="mask2 mask3">
        <h2>Porfolio Logo Design 2nd Generation - Technologies Used</h2>
        <ul>
          <li>SVG Text on a Path using SMIL</li>
          <li>Spiral design using Adobe Illustrator</li>
          <li>Add CSS Keyframes to move drawing of logo name</li>
          <li>Adjusted coloring to make logo more cohesive and less loud</li>
          <li>Removed background color red to make drawing of logo name more impactful and subtle</li>
          
        </ul>
      </div>
    </div>
</div>
</section>

<section>
<div class="container">
    <div id="details" class="project">
      <div class="mask2 mask3">
        <h2>Portfolio Logo Design - Description</h2>
        <p class="desc">This is the 2nd generation of the Portfolio Logo using SVG with text on a path animation.
        </p>
      </div>
    </div>
</div>
</section>
