<h3>Portfolio Logo 1st Generation</h3>

<section>
<div class="container">
    <div class="project">
      <div class="mask2 mask3">
        <h2>Porfolio Logo Design First Generation - Technologies Used</h2>
        <ul>
          <li>SVG Text on a Path using SMIL</li>
          <li>Spiral design using Adobe Illustrator</li>
          <li>Adding all necessary svg componenets in order to replicate "Shannon" as a rollercoaster in the logo name. </li>
          <li>Using Inspect Element with CSS to ensure getting expected results</li>
          <li>Student of learning with SVG, coding and Web Design via the Web</li>
        </ul>
      </div>
    </div>
</div>
</section>

<section>
<div class="container">
    <div id="details" class="project">
      <div class="mask2 mask3">
        <h2>Portfolio Logo Design - Description</h2>
        <p class="desc">This is the first generation of the Portfolio Logo using SVG with text on a path animation.
        </p>
      </div>
    </div>
</div>
</section>
