<h3>Portfolio Logo 1st Generation</h3>

<section>
<div class="container">
    <div class="project">
      <div class="mask2 mask3">
        <h2>Porfolio Logo Design First Generation - Technologies Used</h2>
        <ul>
          <li>SVG Text on a Path using SMIL</li>
          <li>Spiral design using Adobe Illustrator</li>
          <li>Adding a circle </li>
          <li>Heroku deployment</li>
          <li>git version control</li>
          <li>Responsive Web Design</li>
        </ul>
      </div>
    </div>
</div>
</section>

<section>
<div class="container">
    <div id="details" class="project">
      <div class="mask2 mask3">
        <h2>Portfolio Logo Design - Description</h2>
        <p class="desc">This is the first generation of the Portfolio Logo using SVG with text on a path animation.
        </p>
      </div>
    </div>
</div>
</section>
