<main ng-class="{contents: hiding}" >
<div class="center-box4"><img class="center-box2" src="/images/wireframe21.png" alt=""></div>
<section>
<div class="container">
    <div id="center-box" class="project">
      <div id="center-box3" class="mask2 mask3">
        <h2>Wireframe Work Example #1 - Technologies Used</h2>
        <ul>
          <li>Built in Axure</li>
          <li>Part of redesign team for widgets for whole project</li>
          <li>Getting pixel perfect wireframe developed from mockups by lead team members</li>
          <li>Many of the design choices were developed by me</li>
          <li>Axure wireframing and very interactive rather than a simple Balsamiq wireframe acting like a webapp should showing functionality</li>
        </ul>
      </div>
    </div>
</div>
</section>
</main>
