<h3>Mixer Web Application</h3>

<section>
<div class="container">
    <div class="project">
      <div class="mask2 mask3">
        <h2>Mixer Web Application - Technologies Used</h2>
        <ul>
          <li>Vanilla Javascript with the DOM</li>
          <li>OOP Programming in Javascript</li>
          <li>FS, Mustache and Handlebars, Routes, Monk and MongoDB</li>
          <li>HTML5 Custom Data Attribute for Red, Green and Blue color values</li>
          <li>Form submission</li>
          <li>Heroku deployment</li>
          <li>git version control</li>
          <li>Responsive Web Design</li>
        </ul>
      </div>
    </div>
</div>
</section>

<section>
<div class="container">
    <div id="details" class="project">
      <div class="mask2 mask3">
        <h2>Mixer - Description</h2>
        <p class="desc">This app has 2 ways of creating a colors. Firstly, you can
          just enter the red, green, blue values and secondly, you can choose two different
          colors and it mixes a new color.  All colors are saved in a mongo database.  This
          is a CRD (Create, Read, Delete) web app.  All colors from the MongoDB Web App are
          displayed in full color as a background-color as a small round circle.  The app
          takes the separate data id's from the Red, Green and Blue and combines them into
          a single data value of color.  Once the rgb values are attained, then the user
          chooses a second color and the rgb values are added together and averaged to get
          a new rgb value for the new color.  The new color is displayed in it's rgb value
          as well as it's color in the web app.  This Web app started out as a Hackathon type
          of project with 2 other students.  I say that this project was inspired by that
          project as it has changed greatly from it's inception.
        </p>
      </div>
    </div>
</div>
</section>
