<main ng-class="{contents: hiding}">
<h3 class="shopping">Publication Web Application</h3>

<section>
<div class="container">
    <div class="project">
      <div class="mask2">
        <h2>Publication API/ Angular - Technologies Used</h2>
        <ul>
          <li>Web services - RESTful routes</li>
          <li>Node.js Express API through MongoDB</li>
          <li>Express routes tested using Postman</li>
          <li>Angular Web App using Routes, Controllers and Filters</li>
          <li>Use of ng-repeat, including orderBy</li>
          <li>Form submission and form validation</li>
          <li>ng-init, ng-show using conditional statments, toggling ng-click functions</li>
          <li>ngAnimate for animation</li>
          <li>Table HTML creation</li>
          <li>Heroku and Firebase for deployment</li>
          <li>git version control</li>
          <li>Responsive Web Design</li>
        </ul>
      </div>
    </div>
</div>
</section>

<section>
<div class="container">
    <div class="project">
      <div class="mask2 mask5">
        <h2>Publication API - Description</h2>
        <p class="desc">This app was a final exam for the Galvanize program and an exercise
          in writing code (by hand) for an 8 hour time frame.  The Angular
          front-end side was deployed with Firebase and the backend Node side was deployed
          with Heroku.  The app requirements included Restful routes, some styling, and
          completing two complete web apps.  The Node Express side is an API that is loaded
          through MongoDB and was tested using Postman.  The Angular side is a complete
          front-end web app that is a full CRUD (Create, Read, Update and Delete) using $http
          requests getting and posting data to the Node Express/ MongoDB App.  </p>
      </div>
    </div>
</div>
</section>
</main>
