<h3 class="shopping">Shopping Angular Web Application</h3>

<section>
<div class="container">
    <div class="project">
      <div class="mask2">
        <h2>Shopping Angular - Technologies Used</h2>
        <ul>
          <li>Node.js Express to serve it up</li>
          <li>Search with options, ng-show, ng-hide and ng-init</li>
          <li>Angular Web App using Routes, Controllers and Filters (custom and currency)</li>
          <li>Use of ng-repeat, including filter:searchName, filter:search and orderBy:price</li>
          <li>Full CRUD (Create, Read, Update and Delete)</li>
          <li>Form submission</li>
          <li>Table HTML creation</li>
          <li>Services in Angular</li>
          <li>Firebase for deployment and database using AngularFire</li>
          <li>git version control</li>
        </ul>
      </div>
    </div>
</div>
</section>

<section>
<div class="container">
    <div class="project">
      <div class="mask2 mask4">
        <h2>Shopping Angular - Description</h2>
        <p class="desc">This app is a full CRUD app (Create, Read, Update (change quanitity), Delete).
          This app is a shopping cart for tea, which was developed using Angular as a front-end client side
          and Firebase for the server side.  This app calculates the funtionality of a shopping cart for teas.
          This app has Restful routes for checkout.
        </p>
      </div>
    </div>
</div>
</section>
