<h3>Tuneset Web Application</h3>

<section>
<div class="container">
    <div class="project">
      <div class="mask2 mask4">
        <h2>Tuneset Web Application - Technologies Used</h2>
        <ul>
          <li>Node.js Express API through MongoDB</li>
          <li>Facebook and Google Oauth, passport and cookie parser</li>
          <li>Monk, Handlebars and MongoDB</li>
          <li>Reg Ex for filtering</li>
          <li>SASS preprocessor</li>
          <li>Unirest for handling API response data from an API call</li>
          <li>Vanilla Javascript with the DOM</li>
          <li>Form submission</li>
          <li>Column formatting</li>
          <li>Abcjs plugin for sheet music rendering and MIDI downloading</li>
          <li>Heroku deployment</li>
          <li>git version control</li>
        </ul>
      </div>
    </div>
</div>
</section>

<section>
<div class="container">
    <div id="details" class="project">
      <div class="mask2 mask4">
        <h2>Tuneset - Description</h2>
        <p class="desc">TuneSet accesses the Session.org API to get Traditional Irish abc music
          files, which include the name of the tune, the type of which it is a jig or a reel,
          the key, and other info about the tune.  Tuneset takes this abc notatation and uses it
          with the abcjs plugin to render the sheet music for the tune and have the capability of
          downloading the MIDI for that tune.  Tuneset accesses the API through the name of the tune
          on the first page or by key choices on the keys page.  The key page includes querying the
           API for key, time signature, and page that the tune exists for the Session.org API.  The
           API and returns a list of tunes where the user can choose a tune to add to a collection
           of tunes.  This collection of tunes is added to the MongoDB.
        </p>
      </div>
    </div>
</div>
</section>
