header {
  margin-top: -40px;
  text-align: center;
}
nav {
  list-style: none;
  margin: 0 auto;
}

nav li, article li {
  list-style: none;
}
nav li:after {
  content: "";
  display: table;
  clear: both;
}
