*, *:before, *:after {
  box-sizing: border-box;
}
main {
  margin: 0 auto;
  width: 100%;
  float: left;
}
section{
  margin: 0 auto;
}
.left {
  margin: 0 auto;
  float: left;
}
.left:after {
  content: "";
  display: table;
  clear: both;
}
.right {
  float: right;
}
.right:after {
  content: "";
  display: table;
  clear: both;
}
.one-half {
  width: 45%;
  padding: 5px;
  float: left;
  margin: 5px;
 }

 .one-half:after {
   content: "";
   display: table;
   clear: both;
 }

/* -------- COLUMN LAYOUTS -------*/
/* -- Column Sizes -- */

.one-fourth   { width:21.25%; }
.one-third    { width:29.333%; }
/* .one-half     { width:45.5%; }
*/
.two-third    { width:61.666%; }
.three-fourth { width:69.75%; }
.one-column   { width:94%; }
.full-column  { width:100%; }

/* -- Column Margin & Float-- */
.one_half,.one_third,.two_third,
.three_fourth,.one_fourth,.one_column,
.full_column {
margin-left:3%;
margin-top:1%;
float:left;
}

/* -- Column Row (aka Clearfix) -- */

.row:after {
content: "";
display: table;
clear: both;
}
/* Media Queries */
@media(Min-width:1226px){
  .resize {
    width: 80%;
  }
  .full {
    display: inline;
  }
  .med {
    display: none;
  }
  .small {
    display: none;
  }
}
@media (Max-width: 1500px) {
  .project .mask {
    /*min-height: 360px;*/
  }
  .project {
    /*padding-bottom: 60px;*/
  }
}
@media(Max-width:1225px){
  .resize {
    width: 80%;
  }
  .full {
    display: inline;
  }
  .med {
    display: none;
  }
  .small {
    display: none;
  }
  .project {
    height: 400px;
  }
  .project .mask {
    /*min-height: 235px;*/
  }
  .project h2 {
    font-size: 18px;
  }

  section.module p {
    font-size: 16px;
  }
  section.module.parallax {
    height: 0;
  }
  footer {
    top: 200px;
  }

@media(Max-width:900px){
  .resize {
    width: 100%;
  }
  .full {
    display: none;
  }
  .med {
    display: inline;
  }
  .small {
    display: none;
  }
}

@media(Max-width:900px) and (min-width:600px){
  .resize { border: none; }
  .project {
    width: 100%;
    min-height: 200px;
    padding-bottom: 80px;
    padding-left: 60px;
  }
  .project .mask {
    /*min-height: 450px;*/
    min-height: 100%;
    margin-left: 60px;
    width: 75%;
  }
  .project h2 {
    font-size: 18px;
  }

  .project a {
    font-size: 14px;
  }

  section.module p {
    font-size: 16px;
  }

  footer .fa {
    font-size: 1.0em;
  }

  footer .title {
    font-size: 1.3em;
  }
}

@media(Max-width:600px) {
  .resize { border: none; }
  .welcome {
    margin-top: 0;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .project {
    width: 100%;
    min-height: 200px;
    padding-bottom: 150px;
  }
  .project mask {
    min-height: 80%;
  }
  /*.project h2 {
    font-size: 16px;
  }
  section.module p {
    font-size: 14px;
  }*/

  /*footer .fa {
    font-size: .7em;
  }

  footer .title {
    font-size: 1.0em;
  }

  h5 {
    font-size: 1.0em;
  }*/
}

/*@media(Max-width:500px){
  footer .fa {
    font-size: .7em;
  }

  footer .title {
    font-size: 1.0em;
  }

  footer .show {
    padding: 3px 3px;
  }

  li {
    font-size: .9em;
  }
}*/

/*@media(Max-width:400px){
  .resize {
    width: 100%;
    border: none;
  }
  .full {
    display: none;
  }
  .med {
    display: none;
  }
  .small {
    display: inline;
  }
  .project h2 {
    font-size: 16px;
  }
  section.module p {
    font-size: 12px;
  }
}*/
