.login {
  margin-top: 20px;
  margin-left: 40px;
  color: white;
  background: #482ACF;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #000;
/*   transition: 300ms ease all;
 */}

.welcome {
  width: 50%;
  margin: 0 auto;
  color: #af0a0a;
  font-weight: bold;
  text-align: center;
  border: 2px solid #482ACF;
  margin-top: 20px;
}
.href {
  margin-left: 35px;
  display: block;
/*   float:left;
width: 32%;
text-align: center;
 */}
.href:after {
  content: "";
  display: table;
  clear: both;
}
hr {
  position: relative;
  color: #2d2b2b;
  padding: 1.2px;
  width: 54%;
  background: #2d2b2b;
  top: 100px;
}
img {
  transition: 300ms ease all;
  opacity: .5;
  margin-left: 50px;
  width: 80%;
  float: left;
}
img:after {
  content: "";
  display: table;
  clear: both;
}
img:hover {
  opacity: 1;
}
.text-align {
  padding-right: 20px;
  text-align: right;
/*     text-align: ".";
 */}
 .project {
   background: black;
   opacity: .7;
   float: left;
   width: 50%;
   padding-bottom: 20px;
 }
 .project:after {
   content: "";
   display: table;
   clear: both;
 }
 .fa {
   font-size: 1.5em;
   color: #af0a0a;
 }
 .fa:hover {
   color: white;
 }
 footer {
   padding: 50px;
   float: left;
   width: 80%;
   color: white;
   background: black;
   opacity: .8;
   margin: 0 0 0 -40%;
   left: 50%;
   position: relative;
   bottom: 20px;
   top: 200px;
}
.github {
  margin-left: 5px;
}
.show {
    color: #114fe0;
    margin-left: 0;
  /*   color: #24227F;
   */  text-decoration: none;
    transition: 300ms ease all;
  /*   background: #af0a0a;
   */}
   .show a {
     color: #114fe0;
   }
  a:after {
    content: "";
    display: table;
    clear: both;
}
.title {
  color: #114fe0;
  float: right;
  text-shadow: 1px 1px 2px white;
  font-size: 1.6em;
}
.container {
/*   max-width: 960px;
 */  margin: 0 auto;
}
section.module:last-child {
  margin-bottom: 0;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax-1 {
  background-image: url("/images/chicago.jpg");
}
/* section.module.parallax-2 {
  background-image: url("/images/ireland1_big.jpg");
}
section.module.parallax-1 {
  background-image: url("/images/ireland3_big.jpg");
}
 */
