.welcome {
  width: 50%;
  margin: 0 auto;
  color: #af0a0a;
  font-weight: bold;
  text-align: center;
  border: 3px solid #114fe0;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 14px;
}
.ad {
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.ad text {
  width: 100%;
  height: 100%;
}
.href {
  // margin-left: 35px;
  display: block;
 }
hr {
  position: relative;
  color: #2d2b2b;
  padding: 1.2px;
  width: 54%;
  background: #2d2b2b;
  top: 300px;
}
img {
  transition: 300ms ease all;
  // opacity: .5;
  margin-left: 50px;
  width: 80%;
  float: left;
}
img:after {
  content: "";
  display: table;
  clear: both;
}
img:hover {
  opacity: 1;
}
.text-align {
  padding-right: 20px;
  text-align: right;
}
 .project {
   background: black;
  //  opacity: .7;
   float: left;
   width: 50%;
   padding-bottom: 45px;
 }
 .project:after {
   content: "";
   display: table;
   clear: both;
 }
 .project a.href {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    /*text-transform: uppercase;*/
    box-shadow: 0 0 1px #000
}
.project .mask {
  position: absolute;
  overflow: hidden;
  top: 20px;
  left: 50px;
  margin-top: -20px;
  width: 80%;
  /*height: 360px;*/
  min-height: 315px;
}
.project .img {
    display: block;
    position: relative
}
.project h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.project p {
    font-style: italic;
    font-size: 12px;
    position: relative;
    padding: 0 20px 0 20px;
    text-align: center;
    height: 120px;
    overflow: hidden;
}
.project a.href:hover {
    box-shadow: 0 0 5px #000
}
.view-first .img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(245,245,220, 0.9);
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-300px);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.view-first p {
  transform: translateX(-300px);
  opacity: 0;
  transition: all 0.4s linear;
}
.view-first .href {
  transform: translateX(300px);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.view-first:hover img {
	transform: scale(1);
      width: 80%;
}
.view-first:hover .mask {
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover .href {
    opacity: 1;
    transform: translateY(0px);
    transform: translateX(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover .href {
    transition-delay: 0.2s;
}
.view-first:hover h2 {
    transition-delay: 0.2s;
}
/*.mask {
    flex: 1; /* same as flex: 1 1 auto; */
    /*
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* align items in Main Axis */
/*
    align-items: stretch; /* align items in Cross Axis */
/*
    align-content: stretch; /* Extra space in Cross Axis */
}/*
*/
 .fa {
   font-size: 1.5em;
   color: #af0a0a;
 }
 .fa:hover {
   color: white;
 }
 footer {
   padding: 50px;
   float: left;
   width: 80%;
   color: white;
   background: black;
   opacity: .8;
   margin: 0 0 0 -40%;
   left: 50%;
   position: relative;
   bottom: 20px;
   top: 400px;
}
.github {
  margin-left: 5px;
}
.show {
   color: #114fe0;
   margin-left: 0;
   text-decoration: none;
   transition: 300ms ease all;
}
.show a {
  color: #114fe0;
}
  a:after {
    content: "";
    display: table;
    clear: both;
}
.title {
  color: #114fe0;
  float: right;
  text-shadow: 1px 1px 2px white;
  font-size: 1.6em;
}
.container {
  margin: 0 auto;
}
section.module:last-child {
  margin-bottom: 0;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax-1 {
  background-image: url("/images/chicago.jpg");
}
/* section.module.parallax-2 {
  background-image: url("/images/ireland1_big.jpg");
}
section.module.parallax-1 {
  background-image: url("/images/ireland3_big.jpg");
}
 */
 /*Animations*/
 h1 {
   -webkit-animation-duration: 3s;
   -moz-animation-delay: 2s;
/*    animation-iteration-count: ;
 */ }
/*  h2:hover {
  -webkit-animation-duration: 3s;
  -moz-animation-delay: 10s;
   animation-iteration-count: 3;
} */

svg {
  margin: 0 auto;
}
#square {
  z-index: -1;
}
.hold {
  display: block;
  min-height: 500px;
}
.black {
  color: black;
}
