          <section id="startchange" class="module parallax parallax-1">
                <div class="container"></div>
              </section>
              
                <section class="module content">
                   <div class="container100">
                     <div id="designs" class="project view-first" ng-repeat="design in designs">
                       <img class="img" src="/images/{{design.image}}.png" alt="">
                       <div class="mask">
                         <h2>{{design.name}}</h2>
                         <p>Type: {{design.type}}</p>
                         <p class="desc">Description: {{design.desc}}</p>
                         <div class="href">
                           <a ng-href="{{design.codepen}}"><i class="fa fa-codepen"> </i> Codepen</a>
                           <a ng-href="{{design.details}}"><i class="{{design.icon}}"></i> Details</a>
                         </div>
                         </div>
                     </div>
                   </div>
               </section>