          <section ng-class="{contents: hiding}" id="startchange" class="module parallax parallax-1">
                <div class="container"></div>
              </section>
              
                <section class="module content">
                   <div class="row">
                     <div id="designs" class="col-xs-8 col-md-8 col-lg-8 ng-scope" ng-repeat="design in designs">
                        <div id="design-box" class="project">
                      <img class="img" src="/images/{{design.image}}.jpg" alt="">
                       <div class="design-inside">
                         <h2>{{design.name}}</h2>
                         <p>Type: {{design.type}}</p>
                         <p class="desc">Description: {{design.desc}}</p>
                         <div class="href">
                           <a ng-href="{{design.codepen}}"><i class="fa fa-codepen"> </i> Codepen</a>
                           <a ng-href="{{design.details}}"><i class="{{design.icon}}"></i> Details</a>
                         </div>
                         </div>
                         </div>
                     </div>
                   </div>
               </section>