<div class="welcome resize animated fadeInLeft svg-container">

 <svg viewBox="0 0 1000 250" version="1.1"
  baseProfile="basic"
  width="100%" height="200"
  xmlns="http://www.w3.org/2000/svg">

    <rect width="100%" height="100%" fill="#af0a0a" />

    <path id="my_path" d="M10 80 Q 52.5 10, 95 80 T 180 80" stroke="black" stroke-width="3" transform="translate(240,7) rotate(30)" fill="transparent"/>
    <svg class="full" height="200">
     <svg class="full" viewBox="0 -15 1000 200" class="ad">
        <text y="150" x="500" font-size="150" x="50%" text-anchor="middle" fill="white">Hillary Skye</text>
     </svg>
    </svg>
    <svg class="med" viewBox="0 -45 1000 200" class="ad">
      <text y="100" x="500" font-size="150" x="50%" text-anchor="middle" fill="white">Hillary Skye</text>
    </svg>
    <svg class="small" viewBox="0 -45 1000 300" class="ad">
      <text y="150" x="500" font-size="150" x="50%" text-anchor="middle" fill="white">Hillary Skye</text>
    </svg>
        <text font-size="25" fill="blue">

      <textPath startOffset="0" xlink:href="#my_path">Shannon
         <animate attributeName="startOffset" values="0;.5;1" dur="8s" repeatCount="indefinite" keyTimes="0;.5;1" />
      </textPath>
    </text>
</svg>

</div>
 <section id="startchange" class="module parallax parallax-1">
  <div class="container">
  </div></section>

  <section class="module content">
     <div class="container">
       <div class="project view-first">

       <img class="img" src="/images/publications-angular.png" alt="">
       <div class="mask">
         <h2>publications-angular</h2>
         <!-- <p>Type: Galvanize Final Assessment</p> -->
         <p class="desc">Description: The front-end is written using Angular, Node Express
           and includes Restful Routes.  This app was a final exam for the Galvanize program
           and an exercise in writing code, without copying code for an 8 hour time frame.
           The Angular front-end side was deployed with Firebase and the backend Node side was
           deployed with Heroku.</p>
         <div class="href">
           <a target="_blank" ng-href="https://fierce-dusk-42290.herokuapp.com/api/publications"><i class="fa fa-newspaper-o"> </i>&nbsp;publications-api&nbsp;<strong class="black">Click on this one first!</strong></a>
           <a ng-href="https://publications-angular.firebaseapp.com/#/"><i class="fa fa-hacker-news"></i>&nbsp;publications-angular&nbsp;<strong class="black">Both apps need to be clicked to work!</strong></a>
           <a ng-href="https://github.com/hillaryskye/publications-api" target="_blank"><i class="fa fa-github"></i>&nbsp; github: publications-api</a>
           <a ng-href="https://github.com/hillaryskye/publications-angular" target="_blank"><i class="fa fa-github"></i>&nbsp; github: publications-angular</a>
         </div>
         </div>
       </div>

       <div class="project view-first" ng-repeat="project in projects">
         <img class="img" src="/images/{{project.name}}.png" alt="">
         <div class="mask">
           <h2>{{project.name}}</h2>
           <!-- <p>Type: {{project.type}}</p> -->
           <p class="desc">Description: {{project.desc}}</p>
           <div class="href">
             <a ng-href="{{project.url}}"><i class="{{project.icon}}"> </i>&nbsp;{{project.name}}</a>
             <a ng-href="{{project.github}}"><i class="fa fa-github"></i>&nbsp;github: {{project.name}}</a>
           </div>
           </div>
       </div>
     </div>
 </section>

 <main>
   <footer>
     <nav>
       <li>Hillary Shannon Skye</li>
       <li>720-218-6389</li>
       <li>skyeinc9@gmail.com</li>
       <a class="show" href="http://www.linkedin.com/in/hillaryskye"><i class="show fa fa-linkedin"></i></a>
       <a class="github show" href="https://github.com/hillaryskye/">&nbsp;<i class="show fa fa-github"></i></a>
       <a class="show" href="https://whispering-dusk-7423.herokuapp.com/"><i class="show fa fa-bicycle">&nbsp;</i>Portfolio</a>
     </nav>
     <nav class="title">Front-end Developer</nav>

   </footer>
 </main>
